.crossGrid-btnWrapper{
    margin: 8px;
}

.tr-btn{
    padding: 4px;
}

/* Не работает почему-то, возможно из за w2ui стилей*/
.table-fixed {
    width: 100% !important;
    background-color: #f3f3f3;
}
.table-fixed tbody {
    /*height: 200px;*/
    overflow-y: auto !important;
    width: 100% !important;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block !important;
}
.table-fixed tbody td {
    float: left !important;
}
.table-fixed thead tr th {
    float: left !important;
    background-color: #f39c12;
    border-color: #e67e22;
}
